h1, h2 {
  text-align: center;
  text-decoration: underline;
}

body {
  font-family: monospace;
  font-size: 24px;
}

div#sketch {
  text-align: center;
}

div#win, div#lose {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 0;
  background-color: rgb(200, 200, 200, 0.9);

  width: 100%;
  padding: 0 0 10px 0;

  text-align: center;
  display: none;
}

button.reset-button {
  border: none;
  font-size: 20px;
  padding: 10px;
  background-color: white;
  cursor: pointer;
}

p#correct-word {
  letter-spacing: 10px;
}

div.fullscreen-btn {
  background-color: (255, 255, 255, 0.1);
  position: fixed;
  top: 20px;
  right: 10px;
  cursor: pointer;
  user-select: none;
}
